[Unit]
Description=prometheus_solr_exporter
After=network.target

[Service]
User={{ prometheus_solr_exporter_user }}
Group={{ prometheus_solr_exporter_group }}
Type=simple
ExecStart=/bin/bash {{ prometheus_solr_exporter_installation_dir }}contrib/prometheus-exporter/bin/solr-exporter {{ prometheus_solr_exporter_command_params }}
Restart=on-failure
RestartSec=5s
PrivateTmp=true
